# BoondManager API Configuration
BOOND_API_URL=https://ui.boondmanager.com/api
BOOND_AUTH_MODE=basic

# Basic Auth
BOOND_USERNAME=
BOOND_PASSWORD=

# JWT Auth (alternative)
BOOND_USER_TOKEN=
BOOND_CLIENT_TOKEN=
BOOND_CLIENT_KEY=
